* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #958e8e;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: #ebebeb;
  padding: 2rem;
  border-radius: 8px;
}

.first-part {
  margin-bottom: 1rem;
  text-align: center;
}

.both {
  text-align: center;
}

.base {
  padding: 0.5rem;

  p {
    margin-bottom: 0.5rem;
  }
}

.input {
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 10px;
  border-color: transparent;
}

.but {
  justify-self: center;
}

.but button {
  background-color: forestgreen;
  color: #fff;
  border-radius: 10px;
  padding: 1rem;
  border-color: transparent;
}

select {
  border-radius: 8px;
  padding: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  margin: 10px;
  border-color: transparent;
}